<div class="note-input">
	<%= simple_form_for @note, defaults: { input_html: { class: 'default_class'}}  do |f| %>
  	<%= f.input :title, input_html: { class: 'notetitle' }   %>
  	<%= f.input :content, input_html: { class: 'notecontent' }  %>
  	<%= f.input :created_at, input_html: { class: 'createdat' }, label: 'Date' %>
  	<%= f.association :category, input_html: { class: 'notecategory' }, label_method: :category_name, value_method: :id %>
  	<%= f.submit :class => 'btn btn-success', input_html: { class: 'btn-success'} %> 
	<% end %>
</div>


