<div id="notes">

  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @notes_by_date[date] %>
          <ul>
            <% @notes_by_date[date].each do |note| %>
                <li><%= link_to note.title, note, style: "color: #{note.category.color}" %></li>
            <% end %>
          </ul>
      <% end %>
  <% end %>
</div>