<h3>
  <%= @note.title %>
</h3>
<p>
  <%= @note.content %>
</p>
<p>
  <%= @note.category.name %>
</p>


<button type="button" class="btn btn-default btn-xs"><%= link_to "Edit", edit_note_path(@note) %></button>
<button type="button" class="btn btn-danger btn-xs"><%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" } %></button>

<div id="comments"></div>
<%= render @note.comments %>
<h5>Add a comment:</h5>
<%= render 'comments/form' %>
