<!DOCTYPE html>
<html>
<head>
  <title>Note It! | Keep your life in order.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p> Note It! </p>
        </a>
      </div>
    
    <div class="container">
    <% if user_signed_in? %>
    
    <%= link_to "All Notes", notes_path %>
    <%= link_to "New Note", new_note_path %>
    <button type="button" class="btn btn-default btn-sm"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></button>
    
    </div>
        
    <% else %>
      <div class="jumbotron">
          <h1>Welcome to Note It!</h1>
          <h3>Sign up below and keep your life in order.</h3>
      </div>
              
      <div class="container">
        <p><button class="btn btn-default btn-lg" type="submit"><%= link_to "Sign Up", new_user_registration_path %><span class="glyphicon glyphicon-pencil"></button></span></p>
        <p><button class="btn btn-default btn-lg" type="submit"><%= link_to "Sign In", new_user_session_path %><span class="glyphicon glyphicon-pencil"></button></span></p></div>
      </div>
        
    <% end %>
  </nav>

  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
  <%= yield %>
</body>
</html>